.container_12{
     overflow: hidden;
}

.wrap{
  float:left;
  overflow: hidden;
}
.wrap img{
  margin-left:130px;
  margin-top:10px;

}
.head{
  font-family: sans-serif;
  line-height: 50px;
  color:#6633FF;
  font-weight:600;
  margin: -20px 0 0 90px;
  text-shadow:1px 2px 1px #CC3300;
}
.nav{
  float: right;
  overflow: hidden;
}
.nav ul{
    margin-top: 10px;
  }
.nav li{

    display: inline-block;
    list-style: none;
    margin-right:25px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13 px;
  }
.nav li a{
  color: #993366;
  text-decoration: none;
  line-height: 50px;
}

.nav li a:hover{
    color:#1ABC9C;
    font-size:20px;
}
.nav ul li:hover ul {display: block;}
.nav ul li ul {
  position: absolute;
  width:18%;
  display: none;
}
.nav ul li ul li a {display:block !important;
  letter-spacing: 1px;
  padding-left: 5px;
}
.nav ul li ul li {
  background:#00FF66;
  display: block;
}
.container li{
  margin-right: 10px;
}
.container input{
    height: 60px;
    font-size: 20px;
    width:400px;
    padding-left: 15px;
    letter-spacing: 2px;
    margin-left: 0px;
    margin-top: 6px;


}
a.btn.btn-info.btn-lg{
  border-top-width: 0px;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 8px;
}
a.btn.btn-info.btn-lg:hover{
  color: #555;
}

.meta {
  background-color: #1ABC9C;
  margin-top: 40px;
  margin-left: 0;
  height: 100px;
  width: 1400px;

}
.meta .wrap{
  font-family: sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  color: #555;
  padding-left: 95px;
  padding-top: 30px;
}
.wrap .bold{
  color: #FFF;
}
.navigation{
  float: right;
}
.meta ul{
  list-style: none;
  padding-top: 35px;
  padding-left: 100px;
}
.meta li{
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}
.meta a{
  color: #FFF;
}
.meta a:hover{
  color: #FFF;
  text-decoration: none;
  background-color: rgba(0,0,0,.15);
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.details{
  margin-top: 110px;
  margin-left: 78px;
}
.details ul{
  list-style: none;

}
.details li{
  border-style: solid;
  border-color:#F0F0F0;
  box-sizing: border-box;
  border-width: 1px;
  display: inline-block;
  margin-right: -35px;
  padding: 15px;

}
.details a{
  padding:40px;
  font-size: 20px;
  text-decoration: none;
  color: #666;
}
.details a:hover{
  color: #1ABC9C;
  text-decoration: none;
}
.details #main{
     background-color: #1ABC9C;
}
.details #main a:hover{
  color:#FFF;
}
.content{
  margin-top: 120px;
}
.content .sec{
  width: 450px;
  margin: auto;
}
.content .sec img{
  padding-left: 40px;
  height: 230px;
  width: 400px;
}

.content .sec p,h4{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 20px;
  color: #222;
}
.content .sec h4{
  font-size: 15px;
  color: #888;
}
.content .sec a{
  text-decoration: none;
}
.content .sec a:hover{
  color: #000066;
}


.tail{
  margin-top: 100px;
  background-color: #38474e;
  height: 400px;
  width: 1400px;
}
.tail h3{
  padding-top: 40px;
  padding-left: 116px;
  color: #ffffff;
  letter-spacing: 1px;
}
.tail ul{
  padding-top: 20px;
  padding-left: 90px;
}
.tail li{
  list-style: none;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-size: 14px;
}
.tail a{
  color: #7f98a6;
  text-decoration: none;
}
.tail a:hover{
  color: #CCC;
  text-decoration: none;
}
.partners{
  float: left;
}
.footer{
  background-color: #333;
  height:80px;
  color: rgba(255,255,255,.25);

}
.footer p{
  padding-left: 40px;
  padding-top: 30px;
}
